# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular Data Science Tools
* Examples of arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java 
5. Julia

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. Ploty
3. Numpy

### 
|Data Science tools|
|---|
|Python|
|TensorFlow|
|Anaconda|

### Below are a few examples of evaluating arithmetic expression in Python.

In [8]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Adriana Bolaños Víquez